.EditableSet {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  &__input {
    display: inline-flex;

    &--first {
      margin-right: 1rem;
      width: 3rem;
      text-align: right;
    }
  }

  &__actions {
    & :first-child {
      margin-right: 1rem;
    }
  }
}