@import 'style/_color.scss';

.TextInput {
  display: inline-block;
  width: 100%;

  &--dark {
    border-bottom: 1px solid white;
  }

  &--light {
    border-bottom: 1px solid $color-primary;
  }

  &__input {
    background-color: inherit;
    width: 100%;
    border: 0;
    outline: none;

    &--align-right {
      text-align: right;
    }

    &--align-left {
      text-align: left;
    }
  }
}
